@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0f5672;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}
form {
  position: absolute;
  left: 25%;
  right: 25%;
  margin: 6px 0;
  padding-bottom: 6px;
  background-color: #4fd2f39a;
  display: grid;
  justify-content: center;
  border-radius: 0.2rem;
}
label {
  text-align: center;
}
input {
  margin-bottom: 0.1rem;
  padding-bottom: 0.5rem;
  text-align: center;
  box-shadow: 2px 3px #0f5672;
  border-radius: 00.2rem;
}
select {
  margin-bottom: 0.1rem;
  padding-bottom: 0.5rem;
  text-align: center;
  box-shadow: 2px 3px #0f5672;
  border-radius: 00.2rem;
}
